body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.2;
}


.past{
  background-color: #d3d3d3;
}

.present{
  background-color: #ffbd5a;
}

.future{
  background-color: #85f785;
}

.subtitle{
  font-style: italic;
}

#currentDay{
  font-size: 1.35rem;
}


.row{
  white-space: pre-wrap;
  height: 80px;
}

.hour-wrapper{
  background-color: #ffffff;
  padding: 0;
}

.hour{
  cursor: default;
}

.description{
  white-space: pre-wrap;
}

.save-btn{
  border-color: black;
  border-left: 1px solid;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  
}
.save-btn i{
  font-size: 25px;
  transition: font-size .2s ease-in-out;
}
.save-btn i.fa-floppy-disk:hover{
  font-size: 30px;
}
.save-btn i.fa-check{
  font-size: 30px;
  color: rgb(0, 255, 0);
}
.save-btn:focus{
  outline: none;
}


.description-editor{
  resize: none;
}


footer{
  font-size: 15px;
}