body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

#currentDay{
  font-size: 1.35rem;
  font-style: italic;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description{
  white-space: pre-wrap;
}

.time-of-day{
  text-align: center;
}



.row {
  white-space: pre-wrap;
  height: 80px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ffbd5a;
}

.future {
  background-color: #85f785;
}


.saveBtn {
  border-color: black;
  border-left: 1px solid;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  font-size: 25px;
  color: white;
  
}
.saveBtn i:hover {
  transition: font-size .3s ease-in-out;
  font-size: 30px;
}

footer{
  font-size: 15px;
}