body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.2;
}


.past{
  background-color: #d3d3d3;
}

.present{
  background-color: #85f785;
}

.future{
  background-color: #ffbd5a;
}


.subtitle{
  font-style: italic;
}

#currentDay{
  font-size: 1.35rem;
}


.row{
  white-space: pre-wrap;
  height: 80px;
}

.hour-wrapper{
  background-color: #ffffff;
  padding: 0;
  border: 1px solid black;
}

.hour{
  cursor: default;
}

.description-wrapper{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.description{
  white-space: pre-wrap;
}

.save-btn{
  border: none;
  border: 1px solid black;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #06AED5;
  color: white;
}
.save-btn:focus{
  outline: none;
}

.save-btn i{
  font-size: 25px;
  transition: font-size .2s ease-in-out;
}
.save-btn i.fa-floppy-disk:hover{
  font-size: 30px;
}
.save-btn i.fa-check{
  font-size: 30px;
  color: rgb(0, 255, 0);
}


.row:first-child .hour-wrapper{
  border-top-left-radius: 20%;
}
.row:last-child .hour-wrapper{
  border-bottom-left-radius: 20%;
}

.row:not(:first-child) .save-btn,
.row:not(:first-child) .hour-wrapper,
.row:not(:first-child) .description-wrapper{
  border-top-width: .5px;
}
.row:not(:last-child) .save-btn,
.row:not(:last-child) .hour-wrapper,
.row:not(:last-child) .description-wrapper{
  border-bottom-width: .5px;
}


.description-editor{
  resize: none;
}
.description-editor:focus{
  background-color: rgb(173, 255, 255);
}


footer{
  font-size: 15px;
}